@import url(global.css);

h1 {
  margin: 32px auto;
  text-align: center;
}

#app > * {
  border: 1px solid red;
}

#app {
  display: grid;
  height: 100vh;
  padding: 24px;

  row-gap: 32px;
  column-gap: 16px;

  grid-template-areas: 
  "header header header"
  "main main aside"
  "footer footer footer";

  margin-bottom: 64px;
}

#app header {
  grid-area: header;
}

#app main {
  grid-area: main;
}

#app footer {
  grid-area: footer;
}