@import url(global.css);

h1 {
  margin: 32px auto;
  text-align: center;
}

#app {
  display: grid;
  height: 100vh;
  gap: 12px;
  padding: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 64px;
}

#app > * {
  border: 1px solid red;
}

#app header {
  grid-row-start: 1;
  grid-row-end: 4;
}

#app main {
  grid-column: 2/4;
  grid-row: 1/3;
}